:host {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 8px;
  box-sizing: border-box;
}

.roll-score-row {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;

  &__first-roll {
    text-align: center;
    width: 24px;
  }
}

.cells {
  display: flex;
  flex-direction: row;
  gap: 4px;

  &__cell {
    width: 12px;
    height: 12px;
  }
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  &__half-full {
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }

  &__full {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}

.total-score-row {
  width: 100%;
  text-align: center;

  &--opaque {
    opacity: 0;
  }
}
